{
  :paths ["src"]
  :deps
  {
    org.clojure/clojure {:mvn/version "1.10.1"}
    uncomplicate/commons {:mvn/version "0.8.0"}
    uncomplicate/neanderthal {:git/url "https://github.com/uncomplicate/neanderthal"
                              :sha "f7feaa0006dc7465703567775f7c582d01e98e97"}
    org.bytedeco/dnnl-platform {:mvn/version "1.1.1-1.5.2"}
  }
  :jvm-opts
  ["-Dclojure.compiler.direct-linking=true"
   "-Dorg.bytedeco.javacpp.mklml.load=mkl_rt"
   "-Dorg.bytedeco.javacpp.pathsfirst=true"]
}